<div class="footer flex justify-between">
  <div class="card">
    <span class="white">Qualidade do Ar</span>
    <img src="../../../../../assets/icones/air-quality.png" alt="Air Quality">
    <span class="white">{{ weatherDatas.wind.deg}}</span>
  </div>

  <div class="card">
    <span class="white">Velocidade</span>
    <img src="../../../../../assets/icones/wind.png" alt="Air Quality">
    <span class="white">{{ weatherDatas.wind.speed}}</span>
  </div>

  <div class="card">
    <span class="white">Visibilidade</span>
    <img src="../../../../../assets/icones/air-quality.png" alt="Air Quality">
    <span class="white">{{ weatherDatas.visibility}}</span>
  </div>

  <div class="card">
    <span class="white">Humidade</span>
    <img src="../../../../../assets/icones/humidity.png" alt="Air Quality">
    <span class="white">{{ weatherDatas.main.humidity}}</span>
  </div>
</div>
