@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:wght@700&display=swap');
:root {
  --blue-1: #2242c2;
  --blue-2: #0368ec;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.277);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

fa-icon {
  color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, p{
  color: #fff;
}

.uppercase{
  text-transform: uppercase;
}

.title{
  font-size: 3rem;
}

.background-image {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.container {
  position: relative;
  max-width: 1220px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
}

.p-4{
  padding: 1rem;
}

.mt-4{
  margin-top: 2rem;
}

.gap-1{
  gap: 1rem;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}



.position-relative {
  position: relative;
}

.search-icon {
  color: #aaa;
  pointer-events: none;
  margin-right: 10px;
  position: absolute;
  right: 10px;
}


.search-input {
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
}


.search-input:focus {
  border-color: #007bff;
}


.content{
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}

.content p{
  font-weight: bold;
  font-size: 32px;

}


.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 5px;
}


.col {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.col:nth-child(1){
  padding-left: 45px;
}

.items-container {
  grid-row: 2;
}

.blue{
  color: #218BC4;
  font-weight: 700;
}

.white{
  color: #fff;
  font-weight: 700;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin-right: auto;
  margin-left: auto;
  max-width: 1220px;
  margin-bottom: 2rem;
}

.footer .card {
  flex: 1;
  margin: 0 0.5rem;
  gap: 20px 0;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  padding: 20px;
}


.card img{
 width: 150px;
 height: 130px;
 object-fit: cover;
}

